@font-face { font-family: Cyberbit; src: url('fonts/Cyberbit.ttf'); }
@font-face { font-family: Aller_Bd; src: url('fonts/Aller_Bd.ttf'); }
@font-face { font-family: Aller_BdIt; src: url('fonts/Aller_BdIt.ttf'); }
@font-face { font-family: Aller_lt; src: url('fonts/Aller_lt.ttf'); }
@font-face { font-family: Aller_Lt; src: url('fonts/Aller_Lt.ttf'); }
@font-face { font-family: Aller_LtIt; src: url('fonts/Aller_LtIt.ttf'); }
@font-face { font-family: Aller_Rg; src: url('fonts/Aller_Rg.ttf'); }
@font-face { font-family: AllerDisplay; src: url('fonts/AllerDisplay.ttf'); }

:root {
    --MainMenuHeight: 8vmin;
    --GridHeight: calc(100vh - 8vmin);
    --GridWidth: 100vw;
    --AnimeWidgetWidth: 30vmin;
    --AnimeWidgetHeight: 53vmin;
    --AnimeWidgetTextWidth: 29vmin;
    --AnimeFontType: Aller_Lt;
}

html {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: #34373C;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

.hidden {
    display: none !important;
}

.TopMenuBar {
    background-color: #5865F2FF;
    color: white;

    border-radius: 0px 0px 10px 10px;
    /*overflow: hidden;*/

    width: calc(100% - 10px);
    height: var(--MainMenuHeight);
    line-height: var(--MainMenuHeight);

    margin: 0;
    padding-left: 10px;

    font-family: Aller_Bd;
    font-size: calc(var(--MainMenuHeight)*0.75);
    user-select: none;

    /*justify-items: center;*/
    /*position:fixed;*/
}

.MenuButton {
    float: right;
    margin-right: 8px;
    margin-top: calc(var(--MainMenuHeight)*0.2/2);
    height: calc(var(--MainMenuHeight) * 0.8);
    width: calc(var(--MainMenuHeight) * 0.8);

    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

/*-----------------------*/

.title {
    display: inline-block;
    width: max-content;
    position: absolute;

    transform: translateX(calc(-100% - 10px));
    animation: SearchTitleAnimationR 0.3s ease 0.3s 1 normal forwards;
}

.ToggleSearchTitleAnimationOn {
    animation: SearchTitleAnimation 0.3s ease 0s 1 normal forwards;
}

@keyframes SearchTitleAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 10px));
    }
}

@keyframes SearchTitleAnimationR {
    0% {
        transform: translateX(calc(-100% - 10px));
    }

    100% {
        transform: translateX(0);
    }
}

/*-----------------------*/

.MenuBackButton {
    position: absolute;

    margin-right: 8px;
    margin-top: calc(var(--MainMenuHeight)*0.2/2);
    height: calc(var(--MainMenuHeight) * 0.8);
    width: calc(var(--MainMenuHeight) * 0.8);

    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    background-image: url("resources/backarrow.png");
    opacity: 0;

    animation: SearchBackButtonAnimationR 0.3s ease 0s 1 normal forwards;
}

.ToggleSearchBackButtonAnimationOn {
    animation: SearchBackButtonAnimation 0.3s ease 0.3s 1 normal forwards;
}

@keyframes SearchBackButtonAnimation {
    0% {
        transform: translateX(calc(-100% - 10px));
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes SearchBackButtonAnimationR {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(calc(-100% - 10px));
        opacity: 0;
    }
}

/*-----------------------*/

.SearchBackground {
    background-image: url("resources/search.png");

    animation: SearchButtonAnimationR 0.3s ease 0s 1 normal forwards;
}

.ToggleSearchAnimationOn {
    animation: SearchButtonAnimation 0.3s ease 0s 1 normal forwards;
}

@keyframes SearchButtonAnimation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(-100% - 8px));
    }
}

@keyframes SearchButtonAnimationR {
    0% {
        transform: translateY(calc(-100% - 8px));
    }

    100% {
        transform: translateY(0);
    }
}

/*-----------------------*/

::placeholder {
    color: #FFFFFF;
    opacity: 0.8;
}

.SearchInput {
    position: absolute;

    margin-top: calc(-1 * var(--MainMenuHeight) * 0.8 + 4px);
    width: inherit;
    height: calc(var(--MainMenuHeight) * 0.5);

    color: white;

    background-color: #4d5bef;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 0;
}

/*-----------------------*/

.SearchLineRectangle {
    float: right;
    margin-top: calc(var(--MainMenuHeight) - 4px);
    margin-right: 5px;
    height: 2px;
    width: calc(100vw - 5 * (var(--MainMenuHeight)*0.8 + 8px) - 15px);
    background-color: white;
    opacity: 0;

    animation: SearchLineRectangleAnimationR 0.5s ease 0s 1 normal forwards;
}

.ToggleSearchLineRectangleAnimationOn {
    animation: SearchLineRectangleAnimation 0.5s ease 0s 1 normal forwards;
}

@keyframes SearchLineRectangleAnimation {
    0% {
        transform: translateX(50%) scaleX(0);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scaleX(1);
        opacity: 1;
    }
}

@keyframes SearchLineRectangleAnimationR {
    0% {
        transform: translateX(0) scaleX(1);
        opacity: 1;
    }

    100% {
        transform: translateX(50%) scaleX(0);
        opacity: 0;
    }
}

/*-----------------------*/

.BookmarkBackground {
    background-image: url("resources/bookmark.png");
}

.AboutBackground {
    background-image: url("resources/about.png");
}

.HistoryBackground {
    background-image: url("resources/history.png");
}


.RecentAddedGrid, .SearchGrid{
    display: grid;
    height: calc(var(--GridHeight) - 20px);
    width: calc(var(--GridWidth) - 20px);

    grid-template-columns: repeat(auto-fill, minmax(calc(var(--AnimeWidgetWidth)), 1fr));
    grid-gap: 10px;
    grid-auto-rows: min-content;

    justify-items: center;

    padding: 10px;
    overflow-y: auto;
}

.AnimeWidgetMain {
    background-color: #3F4146FF;

    width: var(--AnimeWidgetWidth);
    /*height: var(--AnimeWidgetHeight);*/

    border-radius: 30px 8px 30px 8px;

    vertical-align: top;
    display: inline-block;
}

.AnimeWidgetImage {
    width: var(--AnimeWidgetWidth);
    border-radius: 30px 8px 0px 0px;
}

.AnimeWidgetAnimeName {
    display: block;
    position: relative;
    text-align: center;

    width: var(--AnimeWidgetTextWidth);
    inline-size: var(--AnimeWidgetTextWidth);

    font-size: 2.5vmin;
    font-family: var(--AnimeFontType);
    color: white;

    overflow-wrap: break-word;
}

.AnimeWidgetEpisodeName {
    display: block;
    position: relative;
    text-align: center;

    width: var(--AnimeWidgetTextWidth);

    font-size: 2vmin;
    font-family: var(--AnimeFontType);
    color: white;

    overflow-wrap: break-word;
}

.AnimeWidgetInvisibleName {
    display: block;
    position: relative;
    text-align: center;

    width: var(--AnimeWidgetTextWidth);

    font-size: 2vmin;
    color: transparent;
    user-select: none;
}

.AnimeWidgetAnimeLink {
    display: none;
}

.AnimeWidgetThumbnailLink {
    display: none;
}

/* -------------------------*/

.loading-holder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
